services:
  postgres-master:
    container_name: pg_fly_report_master_container
    image: timescale/timescaledb-ha:pg17
    restart: unless-stopped
    user: "root"
    environment:
      POSTGRES_DB: "zeusdb"
      POSTGRES_USER: "teleuser"
      POSTGRES_PASSWORD: extR3@der
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - zeusdb-master-timescale-data:/var/lib/postgresql/data
      - ./docker-entrypoint-initdb.d/01_master-init.sh:/docker-entrypoint-initdb.d/01_master-init.sh # Настройки мастера
      - ./docker-entrypoint-initdb.d/02_init.sql:/docker-entrypoint-initdb.d/02_init.sql # Создаём компоненты БД
      # - ./docker-entrypoint-initdb.d/03_publication.sql:/docker-entrypoint-initdb.d/03_publication.sql # Настройки репликации
      - ./docker-entrypoint-initdb.d/05_starting_data.sql:/docker-entrypoint-initdb.d/05_starting_data.sql # Вставка данных
    ports:
      - "5402:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U teleuser -d zeusdb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 4G
    networks:
      - dbnet

  # postgres-replica:
  #   container_name: pg_fly_report_replica_container
  #   image: postgis/postgis:17-3.5
  #   restart: unless-stopped
  #   environment:
  #     POSTGRES_DB: "zeusdb"
  #     POSTGRES_USER: "teleuser"
  #     POSTGRES_PASSWORD: extR3@der
  #     PGDATA: "/var/lib/postgresql/data/pgdata"
  #     POSTGRES_MASTER_HOST: postgres-master
  #     POSTGRES_MASTER_PORT: 5432
  #   volumes:
  #     - zeusdb-replica-data:/var/lib/postgresql/data
  #     - ./docker-entrypoint-initdb.d/02_init.sql:/docker-entrypoint-initdb.d/02_init.sql # Создаём компоненты БД
  #     - ./docker-entrypoint-initdb.d/04_subscription.sql:/docker-entrypoint-initdb.d/04_subscription.sql # Настройки репликации
  #   ports:
  #     - "5403:5432"
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U teleuser -d zeusdb"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5
  #     start_period: 10s
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: "1"
  #         memory: 4G
  #   networks:
  #     - dbnet
  #   depends_on:
  #     postgres-master:
  #       condition: service_healthy

  # pgadmin:
  #   container_name: pgadmin_fly_report_container
  #   image: dpage/pgadmin4:9.8
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: "pgadmin4@pgadmin.org"
  #     PGADMIN_DEFAULT_PASSWORD: "pgAdm!n4"
  #     PGADMIN_CONFIG_SERVER_MODE: "False"
  #   volumes:
  #     - pgadmin-data:/var/lib/pgadmin
  #   ports:
  #     - "5502:80"
  #   restart: unless-stopped
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: "0.5"
  #         memory: 1G
  #   networks:
  #     - dbnet
  #   depends_on:
  #     - postgres-master
  #     - postgres-replica

networks:
  dbnet:
    driver: bridge

volumes:
  zeusdb-master-timescale-data:
  # zeusdb-master-data:
  # zeusdb-replica-data:
  # pgadmin-data:
